---
---

@import "{{ site.theme }}";

header {
    width: 200px;
}

section {
    width: 630px;
}

@media print, screen and (max-width: 960px) {
    img {
        max-width: 24%;
    }

    header {
        width: auto;
        padding-right: 0;
        text-align: center;
    }

    section {
        width: auto;
    }
}
